
# API / App Settings
VITE_API_URL=https://your-api.example.com/api/v1
VITE_MEDIA_URL=https://your-media.example.com
VITE_AUTH_REFRESH_PATH=/auth/refresh-token
VITE_AUTH_LOGOUT_PATH=/auth/logout
VITE_AUTH_DEVICE=admin
VITE_SOCKET_URL=https://your-socket-server.example.com
